:root {
  --main-color-light: #ffffff;
  --main-color-dark: #262626;
  --sub-color-light: #c4c4c4;
  --sub-color-dark: #474747;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  position: fixed; /* Позиціонування для хедера */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
  width: 100%;
  padding: 30px;
  font-weight: bold;
  font-size: 1.2em;
  background-color: var(--main-color-dark);
  color: var(--main-color-light);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Не зміг придумати нічого краще, ніж це: */
.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
  flex-basis: 700px;
  gap: 25px;
  min-width: 60%;
}

.logo {
  font-size: 1.5rem;
  font-family: cursive;
}

.navigation-menu {
  display: flex;
  flex-grow: 0.5;
  gap: 30px;
  text-transform: uppercase;
}

.navigation-menu a:hover {
  color: var(--sub-color-light);
}

.contact-btn {
  padding: 15px 25px;
  font-size: 0.8rem;
  border: 2px solid var(--main-color-light);
  border-radius: 5px;
  text-transform: uppercase;
}

.contact-btn:hover {
  background-color: var(--sub-color-dark);
}
